{% extends 'headder.html' %}
{% load static%}
{% block content %}



<body>
  <div class="hero_area">

<!-- Search area -->

<div class="container" >
    <div class="row" >
      <div style="background-color: #79E3F3; width: 100%; border-radius: 10px; " >
        <form class="navbar-form " action="{% url 'search' %}" method="get">
          <fieldset>
            
          <div class="container">
          <div class="row" style="padding: 20px;">
          <input  type="text" placeholder="search items" class="form-control col-lg-10"   name="q"><button type="submit" class="btn btn-primary  col-lg-2  fa fa-search" aria-hidden="true"></button>
        </fieldset>
        </div>
      </div>
        </form>
      </div>
    </div>
  </div>
   
  <!-- Search area ends -->
    
    
    <!-- slider section -->
<div class="container">
    <section class="slider_section">
      <div class="slider_container" style="border-radius: 10px;">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Welcome To Our <br>
                        J Shop
                      </h1>
                      <p> hre is you can experience shopping in a new way
                      </p>
                      <a href="">
                        Contact Us
                      </a>
                    </div>
                  </div>
                  <div class="col-md-5 ">
                    <div class="img-box">
                      <img src="{% static 'home/images/sale1.jpg' %}" style="width: 500px;height: 200px;" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1>
                        Welcome To Our <br>
                        Gift Shop
                      </h1>
                      <p> we are here for you
                      </p>
                      <a href="">
                        Contact Us
                      </a>
                    </div>
                  </div>
                  <div class="col-md-5 ">
                    <div class="img-box">
                      <img src="{% static 'home/images/sale2.jpg' %}" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="carousel_btn-box">
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <img src="{% static 'home/images/line.png' %}" alt="" />
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>
</div>

    <!-- end slider section -->
  </div>


  <div class="category container ">
    <div class="row">
    {% for i in ct %}
    <div class="btn  btn-box">
    <b class="btn btn-light" ><a href="{{i.get_url}}">{{i.name}}</a><br> 
    </b></div>
    {% endfor %}
    <button class="btn btn-light"><a href="/">home</a></button>
  </div></div>
  

  <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Products
        </h2>
      </div>
      <div class="row">
        {% for i in prod.object_list %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
               <a href="{{i.get_url}}"> <img src="{{i.img.url}}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  {{i.name}}
                </h6>
                <h6>
                  Price
                  <span>
                    {{i.price}}
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="mx-auto">
        <div class="text-center">
        {% for pg in prod.paginator.page_range %}
        <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} acivate {% endif %}">{{pg}}</a>
        {% endfor %}
      </div>
      </div>

    </div>
  </section>
  
  <!-- end shop section -->




  
  <!-- gift section -->

  <section class="gift_section layout_padding-bottom">
    <div class="box ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <div class="img_container">
              <div class="img-box">
                <img src="{% static 'home/images/sale1.jpg' %}" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Gifts for your <br>
                  loved ones
                </h2>
              </div>
              <p> Gift your Special once's in this Season. Surprise them in this Spring Festival
              </p>
              <div class="btn-box">
                <a href="#" class="btn1">
                  Buy Now
                </a>
                <a href="#" class="btn2">
                  See More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  

  </section>

  <!-- end info section -->


  <script src="{% static 'home/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'home/js/bootstrap.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="{% static 'home/js/custom.js' %}"></script>

</body>

</html>

{% endblock %}